.container {
  max-width: 46rem;
  margin: -1.8rem auto 2rem;
  padding: 0 1rem;

  & > form {
    margin: 0 auto;

    display: flex;
    gap: 8px
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
